ion-toolbar {
  --background: var(--ion-color-primary-tint);
  --color:var(--ion-color-primary-contrast);
}
ion-spinner {
  transform: scale(1.5);
}
.loading-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}